@{
    ViewBag.Title = "Reservation ticket";
}

<h2>@ViewBag.Title.</h2>
<h2>@ViewBag.Message.</h2>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
}
